/* CSS declarations go here */

div.studentList{
  margin-left: -20px;
  margin-right: 20px;
}

button.studentList {
  width: 200px;
}

button.informationList{
  float: left;
}

li{
  list-style: none;
}

menu{
  visibility: hidden;
}
