<td>
<div class="information">
      <label class="informationList">Khoa: {{ $ctrl.facl.facultyName }} </label>
      <br>
        <label class="informationList">Tên: {{ $ctrl.tasks.name }}</label>
      <br>
      <div ng-if="$ctrl.tasks.sex == true">
        <label class="informationList">Giới Tính: Nam </label>
      </div>
      <div ng-if="$ctrl.tasks.sex == false">
        <label class="informationList">Giới Tính: Nữ </label>
      </div>
      <label class="informationList">Địa Chỉ: {{ $ctrl.tasks.adress }}</label>
      <br>
      <label class="informationList">Điện Thoại: {{ $ctrl.tasks.phone }}</label>
</div>
</td>

<td>
  <button class="informationList" onclick="document.getElementById('faculty').style.visibility = 'visible';">Sửa</button>
  <div style="display: inline-block; visibility: hidden;" id="faculty">
    <!--<input ng-model="$ctrl.info.sex" class="information_update" type="text" />-->
    <select ng-model="$ctrl.info.faculty">
      <option value="CNTT"> Công Nghệ Thông Tin </option>
      <option value="TOAN"> Toán </option>
      <option value="SINH"> Sinh </option>
    </select>
    <input type="submit" ng-click = "$ctrl.updateStudent($ctrl.tasks, $ctrl.info)" onclick="document.getElementById('faculty').style.visibility = 'hidden'"/>
  </div>
  <br>

  <button class="informationList" onclick="document.getElementById('name').style.visibility = 'visible';">Sửa</button>
  <div style="display: inline-block; visibility: hidden;" id="name">
    <input ng-model="$ctrl.info.name" class="information_update" type="text" />
    <input type="submit" ng-click = "$ctrl.updateStudent($ctrl.tasks, $ctrl.info)" onclick="document.getElementById('name').style.visibility = 'hidden'"/>
  </div>
  <br>

  <button class="informationList" onclick="document.getElementById('sex').style.visibility = 'visible';">Sửa</button>
  <div style="display: inline-block; visibility: hidden;" id="sex">
    <!--<input ng-model="$ctrl.info.sex" class="information_update" type="text" />-->
    <select ng-model="$ctrl.info.sex">
      <option value="nam"> Nam </option>
      <option value="nu"> Nữ </option>
    </select>
    <input type="submit" ng-click = "$ctrl.updateStudent($ctrl.tasks, $ctrl.info)" onclick="document.getElementById('sex').style.visibility = 'hidden'"/>
  </div>
  <br>

  <button class="informationList" onclick="document.getElementById('adress').style.visibility = 'visible';">Sửa</button>
  <div style="display: inline-block; visibility: hidden;" id="adress">
    <input ng-model="$ctrl.info.adress" class="information_update" type="text" />
    <input type="submit" ng-click = "$ctrl.updateStudent($ctrl.tasks, $ctrl.info)" onclick="document.getElementById('adress').style.visibility = 'hidden'"/>
  </div>
  <br>

  <button class="informationList" onclick="document.getElementById('phone').style.visibility = 'visible';">Sửa</button>
  <div style="display: inline-block; visibility: hidden;" id="phone">
    <input ng-model="$ctrl.info.phone" class="information_update" type="text" />
    <input type="submit" ng-click = "$ctrl.updateStudent($ctrl.tasks, $ctrl.info)" onclick="document.getElementById('phone').style.visibility = 'hidden'"/>
  </div>
  <br>
</td>
